/* Header.css */

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .nav-links {
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .login a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
 }
  